@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
body{
    font-family: Inter;
    display: flexbox;
    flex-wrap: wrap;
    cursor:default;
}
ul{
    float:right;
    margin-top: 0px;
    font-family: Inter;

}
ol{
    display: inline;
    padding: 20px;
}
#logo{
    float: left;
}
.nav{
    background-color: hsl(36, 100%, 99%);
    padding-top: 30px;
    top: 0px;
    scroll-margin-top: 0px;
    width: inherit;
    height: 60px;
    color: hsl(236, 13%, 42%);
}
.first{
    width: 900px;
    height: 390px;
    display: block;
}
.head1{
    font-family: Inter ExtraBold;
    font-size: 47px;
    width: 250px;
    height: 160px;
    display: inline-block;
    color: hsl(240, 100%, 5%);
    margin: 10px 230px 10px 0px;

}
.para{
    display: inline-block;
    font-family: Inter;
    width:310px;
    line-height: 25px;
    margin-top: 10px;
    color:hsl(236, 13%, 42%);
    font-size: 14px;
}
.sect{
    display: inline-block;
}
.more{
    display: block;
    width: 160px;
    height: 45px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    background-color: hsl(5, 85%, 63%);
    border: none;
    color:#fff;
}
.dev{
    display: flexbox;
    flex-wrap: wrap;
    margin-top: 20px;
}
.part1{
    min-height: fit-content; 
    display: flexbox;
    flex-wrap: wrap;
}
#container{
    margin-top: 20px;
    display: flex;
    align-items:flex-start;
    max-width: inherit;
}
.part2{
    width: 375px;
    height: 800px;
    padding-left: px;
    margin-left: 20px;
    background-color:  hsl(240, 100%, 5%);
    height: fit-content;
}
.sec{
    width: 340px;
    padding: auto 30px 50px 5px;
    border-bottom: solid 1px hsl(233, 8%, 79%) ;
    margin: 57px 0px 57px 20px;
}
.subh{
    color: hsl(36, 100%, 99%);
    font-weight: 800;
    font-size: 20px;
    width: 360px;
    height: 30px;
}
.par{
    color: hsl(233, 8%, 79%);
    font-size: 14px;
    width: 360px;
    padding-bottom: 20px;
}
.new{
    font-size: 50px;
    color: hsl(35, 77%, 62%);
    padding-left: 20px;
}
.re{
    display: inline-block;
}
#part3{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: fit-content;
}
.th{
    border: none;
}
.maincon{
    padding: 20px;
    display: flexbox;
    flex-wrap: wrap;
}
.no{
    color: hsl(233, 8%, 79%);
    font-size: 40px;
    margin-top: 0px;
    padding-top: 10px;
    margin:  0px ;
}
.sub{
    display: flex;
    margin-left: 10px;
    margin-right: 100px;
    margin-top: 0px;
    width: fit-content;
}
.bar{
    margin: 0px 0px 0px 10px;
    padding-top: 0px;
}
.top{
    font-size: 15px;
    margin-bottom: 10px;
}
.pa{
    color:hsl(236, 13%, 42%);
    width: 200px;
    line-height: 23px;
    font-size: 13px;
    margin-bottom: 0px;
}
.re{
    margin-top: 20px;
    width: 110px;
    height: 130px;
    margin-bottom: 0px;
}
.subh:hover{ 
    color:hsl(35, 77%, 62%);
    cursor: pointer;

}
.top:hover,ol:hover{ 
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}
.more:hover{
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}
#menu{
    display:none
}
@media screen and (max-width: 800px) {
    ol{display: none;}
    .nav{
        align-items: center;
        padding-bottom: 0px;
        margin: 0px;
    }
    .nav ul{
        transform: translateY(-5%);
        transition: 1s;
    }
    .nav #logo {
        display: inline;
        width: 50px;
        height: 30px;
    }
    #menu{
        display: inline;
        float: right;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }

    .first{
        content: url(image-web-3-mobile.jpg);
        width: 450px;
        height: 400px;
    }
    .part2{
        margin-top: 50px;
        margin-left: 0px;
    }
    .maincon{
        padding-top: 0px;
    }
    #container{
        display:flex;
        flex-wrap:wrap;
    }
}
@media screen and (max-width: 600px) {

    .nav.res ol {
        float: none;
        display: block;
        background-color: hsl(36, 100%, 99%);
        width: 50%;
        text-align: left;
        background-attachment: fixed;
        text-decoration: none;
        color: hsl(240, 100%, 5%);
    }
    .nav.res #menu  {
        float:right;
        display: block;
        background-color: hsl(36, 100%, 99%);
        text-align: right;
        position: fixed;
        width:50%;
        height:100% ;
        padding-right: 20px;
        padding-top: 30px;
        right: 0;
        top: 0;
        background-size: 100px;
    }
    .nav.res ul{
        margin: 0;
        padding: 0;
        width: 50%;
        right: 0;
        margin-top: 30px;
        padding-top: 30px;
        position: fixed;
        background-attachment: fixed;
        background-position:right;
        background-repeat: no-repeat;
        height: 100%;
        z-index: 1;
        background-color: hsl(36, 100%, 99%);
        float: right;
        transform: translateY(5%);
        transition: 1s;
        
    }

    .nav.res {
        background-color: rgba(0, 0, 0, 0.0);
    }
}
.attr{
    font-size: 10px;
    margin: 100px;
    color:hsl(240, 100%, 5%);

}
